body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.options {
    margin-bottom: 30px;
}

#quiz-results {
    margin-top: 20px;
    font-weight: bold;
}
