<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- 
    - primary meta tag
  -->
  <title>Campus Edge</title>
  <meta name="title" content="Campus Edge">
  <meta name="description" content="">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="static\images\logo.jpg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="static\css\arithmetic.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="static\images\logo.jpg" width="162" height="50" alt="">
      </a>

      <nav class="navbar" data-navbar>

        <div class="wrapper">
          <a href="#" class="logo">
            <img src="static\images\logo.jpg" width="162" height="50" alt="">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li class="navbar-item">
            <a href="#about" class="navbar-link" data-nav-link>About</a>
          </li>

          <li class="navbar-item">
            <a href="#courses" class="navbar-link" data-nav-link>Courses</a>
          </li>

          <li class="navbar-item">
            <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>Contact</a>
          </li>

        </ul>

      </nav>

      <div class="header-actions">

        <button class="header-action-btn" aria-label="open menu" data-nav-toggler>
          <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>

      </div>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>

  <main>
    <article>

      <section class="section hero has-bg-image" id="home" aria-label="home"
        style="background-color: saddlebrown;">

        <div class="container">

          <div class="course-title" >
            <h1>Quantitative Aptitude </h1>
            <p>Learn basic techniques and tricks to solve problem faster</p>
              
          </div>

        </div>
      </section>
      <section class="course-content">
        <h2>Course Content</h2>
        <div class="container">
          <ul class="list-group">
              <li class="list-group-item">
                  <div class="dropdown"><span> Numbers ▼</span>
                      <div class="dropdown-content">
                          <a href="https://www.geeksforgeeks.org/numbers/">Open</a>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
        <br>
        <div class="container">
          <ul class="list-group">
              <li class="list-group-item">
                  <div class="dropdown"><span> LCM and HCF ▼</span>
                      <div class="dropdown-content">
                          <a href="https://www.geeksforgeeks.org/problems-on-hcf-and-lcm-aptitude-questions/">Option 1</a>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
        <br>
        <div class="container">
          <ul class="list-group">
              <li class="list-group-item">
                  <div class="dropdown"><span> Work and Wages ▼</span>
                      <div class="dropdown-content">
                          <a href="https://www.geeksforgeeks.org/work-and-wages-aptitude-questions-and-answers/">Option 1</a>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
        <br>
        <div class="container">
          <ul class="list-group">
              <li class="list-group-item">
                  <div class="dropdown"><span> Time Speed Distance ▼</span>
                      <div class="dropdown-content">
                          <a href="https://www.geeksforgeeks.org/speed-time-distance-formula-and-aptitude-questions/">Option 1</a>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
        <br>
        <div class="container">
          <ul class="list-group">
              <li class="list-group-item">
                  <div class="dropdown"><span> Trains, Boats, and Streams ▼</span>
                      <div class="dropdown-content">
                          <a href="https://www.geeksforgeeks.org/boats-and-streams-aptitude-questions/">Option 1</a>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
        <br>
        <div class="container">
          <ul class="list-group">
              <li class="list-group-item">
                  <div class="dropdown"><span>Percentage ▼</span>
                      <div class="dropdown-content">
                          <a href="https://www.geeksforgeeks.org/percentage-aptitude-questions/">Option 1</a>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
        <br>
        <div class="container">
          <ul class="list-group">
              <li class="list-group-item">
                  <div class="dropdown"><span> Ratio, Proportion, and Partnership ▼</span>
                      <div class="dropdown-content">
                          <a href="https://www.geeksforgeeks.org/ratio-and-proportion-aptitude-questions/">Option 1</a>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
        <br>
        <div class="container">
          <ul class="list-group">
              <li class="list-group-item">
                  <div class="dropdown"><span> Mixture and Alligation  ▼</span>
                      <div class="dropdown-content">
                          <a href="https://www.geeksforgeeks.org/alligation-or-mixture-aptitude-questions/">Option 1</a>
                      </div>
                  </div>
              </li>
          </ul>
        </div>
        <br>
        <div class="container">
          <ul class="list-group">
              <li class="list-group-item">
                  <div class="dropdown"><span>Profit and Loss ▼</span>
                      <div class="dropdown-content">
                          <a href="https://www.geeksforgeeks.org/profit-and-loss-questions-aptitude/">Option 1</a>
                      </div>
                  </div>
              </li>
          </ul>
        </div>


    </section> 
     
  <!-- 
    - #FOOTER
  -->

  <footer class="footer" style="background-image: url('./assets/images/footer-bg.png')">

    <div class="footer-top section">
      <div class="container grid-list">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="./assets/images/logo.jpg" width="162" height="50" alt="EduWeb logo">
          </a>

          <p class="footer-brand-text">
          Become a part of campus to practise daily and enhance your knowloadge
          </p>

          <div class="wrapper">
            <span class="span">Add:</span>

            <address class="address">Jawaharlal Nehru Engineering College,, Chh.Sambhaji Nagar</address>
          </div>

          <div class="wrapper">
            <span class="span">Call:</span>

            <a href="tel:+011234567890" class="footer-link">+01 123 4567 890</a>
          </div>

          <div class="wrapper">
            <span class="span">Email:</span>

            <a href="https://new.jnec.org/" class="footer-link">https://new.jnec.org/</a>
          </div>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Online Platform</p>
          </li>

          <li>
            <a href="#" class="footer-link">About</a>
          </li>

          <li>
            <a href="#" class="footer-link">Courses</a>
          </li>

          <li>
            <a href="#" class="footer-link">Instructor</a>
          </li>

          <li>
            <a href="#" class="footer-link">Events</a>
          </li>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Links</p>
          </li>

          <li>
            <a href="#" class="footer-link">Contact Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Gallery</a>
          </li>

          <li>
            <a href="#" class="footer-link">Sign In/Registration</a>
          </li>

          <li>
            <a href="#" class="footer-link">Coming Soon</a>
          </li>

        </ul>

        <div class="footer-list">

          <p class="footer-list-title">Contacts</p>

          <p class="footer-list-text">
            Enter your email address to register to our newsletter subscription
          </p>

          <form action="" class="newsletter-form">
            <input type="email" name="email_address" placeholder="Your email" required class="input-field">

            <button type="submit" class="btn has-before">
              <span class="span">Subscribe</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </button>
          </form>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          Copyright 2022 All Rights Reserved by <a href="#" class="copyright-link">campusedge</a>
        </p>

      </div>
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back top top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>