<!DOCTYPE html>
<html>
<head>
    <title>Campus Edge for T&P</title>
    <link rel="stylesheet" type="text/css" href="static\css\fpemaill.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static\images\logo.jpg" type="image/svg+xml">


	
</head>
<body>
    <img class="wave" src="static\mgmm.jpg">
    <div class="container">
        <div class="img">
            <img src="">
        </div>
        <div class="login-content">
            <form action="/fpemail" method="post">

                <img src="static\avatar.svg">
                <h2 class="title">Forget Password</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Enter Valid Email</h5>
                        <input type="text" class="input" name="email" id="email" required>
                    </div>
                </div>
                
                <a href="templates\fpconfirm.html"><button style="margin-left:0px ;" type="submit" class="btn btn-outline-info">Reset Password</button></a>


            </form>
        </div>
    </div>


    </script>

    <script type="text/javascript" src="static\js\main.js"></script>
</body>
</html>
