<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="static\css\quizs.css">
</head>
<body>
    <div class="quiz-container">
        <h1>Quiz Questions</h1>
        <div id="quiz-questions"></div>
        <button id="submit-btn">Submit Answers</button>
        <div id="quiz-results"></div>
    </div>
    <script src="static\js\quizs.js"></script>
</body>
</html>
